<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" th:href="@{/css/place_password.css}">
<head>
    <title>Đăng ký</title>
</head>
<body>
    <form th:action="@{/checkPassword}" method="post" th:object="${user}" >
        <div class="container">
            <h1>Form Thay đổi mật khẩu</h1>
           
             <label for="psw"><b>Mật Khẩu cũ</b></label>
            </br>
            <input type="password" placeholder="Nhập Mật Khẩu cũ" name="password" required>
            </br>
            <label for="password_new"><b>Mật Khẩu Mới</b></label>
            </br> 
           <input type="password" placeholder="Mật Khẩu mới" name="password_new" required>
            </br>
            <label for="password_new_2"><b>Nhập Lại Mật Khẩu Mới</b></label>
            </br>
            <input type="password" placeholder="Nhập Lại Mật Khẩu mới" name="password_new_2" required>
            </br>
             
            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
            
        </div>
    </form>
    
</body>
</html>