@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    box-shadow:  0px 0px 15px rgb(0 0 0 / 10%);
    border-bottom: 5px solid rgb(236, 219, 188);

} 


.header .inner-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .inner-menu ul{
    display: flex;
    margin-left: 50px;
}
.header .inner-menu ul li{
    margin-left: 100px;
    list-style: none;
}
.header .inner-menu .img{
    margin-top: 10px;
    margin-left: 10px;
}
.header .inner-menu .img img{
    height: 100px;
    width: auto;
    margin-left: -200px;
    margin-bottom: 20px;
}
.header .inner-menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #23397a;
}
.header .inner-menu .sign-in{
    color: #6A6A6A;
    padding: 5px;
    background-color: #ffffff;
    border:2px solid #6A6A6A;
    border-radius: 10px;
}
.header .inner-menu .sign-up{
    padding: 7px;
    background-color: white;
    color: orange;
    border-radius: 10px;
    border: 0;
    border: 2px solid orange;
}
div{
    display: block;
}
.section-one{
    background-image: url(https://www.28tech.com.vn/assets/img/page-bg/page-bg-1.jpg);
    position: relative;
    background-size: cover;
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}
.section-one .text{
    color: #111111;
    font-size: 50px;
    font-weight: 700;
    z-index: 2;
    font-family: 'Roboto' sans-serif;
}
.section-one::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f6fa;
    opacity: 0.7;
    z-index: 1;
}
*, ::after,::before{
    box-sizing: border-box;
}
.section-two{
    background-color: #EBEEF5;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 0;

}
.container{
    margin: 0;
}
.row{
    margin: 0;
}
.section-two .education-img{
    margin: 20px;
}
.col-lg-6{
    margin: 0;
    padding: 0;
}

.section-two .education-img{
   /* background-image:url(image/event-img-5.png); */
     background-image: url([[@{/image/event-img-5.png}]]);
   background-size: cover;
   height: 100%;
   background-position: center center;
   margin: 0;
   background-repeat: no-repeat;
   display: block;
}
.section-two img{
    margin: 0;
    width: 100%;
    height: auto;

}
.section-two .desc{
    padding: 30px 30px 30px 40px;
    margin: 0;


    
}
.section-two .desc h4{ 
    font-size: 17px;
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    color: #736161;
    margin-bottom: 20px;

}
.section-two h2{
    font-size: 16px;
    font-weight: 400;
    color: #985F60;
    font-family: 'Roboto' sans-serif;
    margin-bottom: 20px;
}
.section-two h3{
    color: #001860;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-eight {
    background-color: #F5F2EA;
    border-top: 2px solid rgb(147, 135, 135);
    padding: 50px;
}

.section-eight  .img{
    margin-left: 970px;
    margin-top: 30px;

}
.section-eight h1{
    font-size: 20px;
    font-weight: 400;
}